body {

    background-image: url(/image/cerebro_tec.jpg);
    
}

section{

    background:rgba(248,248,255,0.5);
    border-radius: 20px;
    padding: 15px;
    margin:330px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
    text-align: center;

}

section form p input{

    border-radius: 10px;
    border: none;
    cursor:pointer;
    padding: 15px;
    background-color:white;
    
    
}



section form p input:hover{
    background:#87CEFA;

}

section p input:hover:active{
    position: relative;
    top:2px;
}

#log{
    font-size:25px;
    color:#000000;
}