body{
    background-color: black;
    text-align: center;
    padding-top: 250px;
    
    
}

#banner {

    padding-bottom:150px;

}

#clicar{
    padding-bottom:100px;
}

#clicar section nav li a{

    text-decoration: none;
    font-size: 50px;
    color: black;
    background-color:white;
    border-radius: 10px;
    padding: 10px;

}



